.v-input {
  .v-field {
    height: 36px;
    padding: 0;
    font-size: 0.75rem;
    // &__field input {
    // }
    &__input {
      height: 36px;
      min-height: 36px;
      padding: 0;
      padding: 0 0.25rem;
      font-size: 0.75rem;
      // padding-inline: 0;
    }
  }
  .v-input__control {
    height: 36px;
  }
}