//=====DARK MODE=====//

$dark-base: #1d2125 !default;
$blue-base: #579DFF !default;
$blue-base-hover: #85B8FF !default;
$green-base: #42B883 !default;
$red-base: #FD9891 !default;

$text: #B6C2CF !default;
$text-accent-lime: #B3DF72 !default;
$text-accent-lime-bolder: #D3F1A7 !default;
$text-accent-red: #FD9891 !default;
$text-accent-red-bolder: #FFD5D2 !default;
$text-accent-orange: #FEC195 !default;
$text-accent-orange-bolder: #FEDEC8 !default;
$text-accent-yellow: #F5CD47 !default;
$text-accent-yellow-bolder: #F8E6A0 !default;
$text-accent-green: #7EE2B8 !default;
$text-accent-green-bolder: #BAF3DB !default;
$text-accent-teal: #9DD9EE !default;
$text-accent-teal-bolder: #C6EDFB !default;
$text-accent-blue: #85B8FF !default;
$text-accent-blue-bolder: #CCE0FF !default;
$text-accent-purple: #B8ACF6 !default;
$text-accent-purple-bolder: #DFD8FD !default;
$text-accent-magenta: #F797D2 !default;
$text-accent-magenta-bolder: #FDD0EC !default;
$text-accent-gray: #9FADBC !default;
$text-accent-gray-bolder: #DEE4EA !default;
$text-disabled: #BFDBF847 !default;
$text-inverse: #1D2125 !default;
$text-selected: #579DFF !default;
$text-brand: #579DFF !default;
$text-danger: #FD9891 !default;
$text-warning: #F5CD47 !default;
$text-warning-inverse: #1D2125 !default;
$text-success: #7EE2B8 !default;
$text-discovery: #B8ACF6 !default;
$text-information: #85B8FF !default;
$text-subtlest: #8C9BAB !default;
$text-subtle: #9FADBC !default;


$background-accent-lime-subtlest: #28311B !default;
$background-accent-lime-subtlest-hovered: #37471F !default;
$background-accent-lime-subtlest-pressed: #4C6B1F !default;
$background-accent-lime-subtler: #37471F !default;
$background-accent-lime-subtler-hovered: #4C6B1F !default;
$background-accent-lime-subtler-pressed: #5B7F24 !default;
$background-accent-lime-subtle: #4C6B1F !default;
$background-accent-lime-subtle-hovered: #37471F !default;
$background-accent-lime-subtle-pressed: #28311B !default;
$background-accent-lime-bolder: #94C748 !default;
$background-accent-lime-bolder-hovered: #B3DF72 !default;
$background-accent-lime-bolder-pressed: #D3F1A7 !default;
$background-accent-red-subtlest: #42221F !default;
$background-accent-red-subtlest-hovered: #5D1F1A !default;
$background-accent-red-subtlest-pressed: #AE2E24 !default;
$background-accent-red-subtler: #5D1F1A !default;
$background-accent-red-subtler-hovered: #AE2E24 !default;
$background-accent-red-subtler-pressed: #C9372C !default;
$background-accent-red-subtle: #AE2E24 !default;
$background-accent-red-subtle-hovered: #5D1F1A !default;
$background-accent-red-subtle-pressed: #42221F !default;
$background-accent-red-bolder: #F87168 !default;
$background-accent-red-bolder-hovered: #FD9891 !default;
$background-accent-red-bolder-pressed: #FFD5D2 !default;
$background-accent-orange-subtlest: #38291E !default;
$background-accent-orange-subtlest-hovered: #702E00 !default;
$background-accent-orange-subtlest-pressed: #A54800 !default;
$background-accent-orange-subtler: #702E00 !default;
$background-accent-orange-subtler-hovered: #A54800 !default;
$background-accent-orange-subtler-pressed: #C25100 !default;
$background-accent-orange-subtle: #A54800 !default;
$background-accent-orange-subtle-hovered: #702E00 !default;
$background-accent-orange-subtle-pressed: #38291E !default;
$background-accent-orange-bolder: #FEA362 !default;
$background-accent-orange-bolder-hovered: #FEC195 !default;
$background-accent-orange-bolder-pressed: #FEDEC8 !default;
$background-accent-yellow-subtlest: #332E1B !default;
$background-accent-yellow-subtlest-hovered: #533F04 !default;
$background-accent-yellow-subtlest-pressed: #7F5F01 !default;
$background-accent-yellow-subtler: #533F04 !default;
$background-accent-yellow-subtler-hovered: #7F5F01 !default;
$background-accent-yellow-subtler-pressed: #946F00 !default;
$background-accent-yellow-subtle: #7F5F01 !default;
$background-accent-yellow-subtle-hovered: #533F04 !default;
$background-accent-yellow-subtle-pressed: #332E1B !default;
$background-accent-yellow-bolder: #E2B203 !default;
$background-accent-yellow-bolder-hovered: #F5CD47 !default;
$background-accent-yellow-bolder-pressed: #F8E6A0 !default;
$background-accent-green-subtlest: #1C3329 !default;
$background-accent-green-subtlest-hovered: #164B35 !default;
$background-accent-green-subtlest-pressed: #216E4E !default;
$background-accent-green-subtler: #164B35 !default;
$background-accent-green-subtler-hovered: #216E4E !default;
$background-accent-green-subtler-pressed: #1F845A !default;
$background-accent-green-subtle: #216E4E !default;
$background-accent-green-subtle-hovered: #164B35 !default;
$background-accent-green-subtle-pressed: #1C3329 !default;
$background-accent-green-bolder: #4BCE97 !default;
$background-accent-green-bolder-hovered: #7EE2B8 !default;
$background-accent-green-bolder-pressed: #BAF3DB !default;
$background-accent-teal-subtlest: #1E3137 !default;
$background-accent-teal-subtlest-hovered: #164555 !default;
$background-accent-teal-subtlest-pressed: #206A83 !default;
$background-accent-teal-subtler: #164555 !default;
$background-accent-teal-subtler-hovered: #206A83 !default;
$background-accent-teal-subtler-pressed: #227D9B !default;
$background-accent-teal-subtle: #206A83 !default;
$background-accent-teal-subtle-hovered: #164555 !default;
$background-accent-teal-subtle-pressed: #1E3137 !default;
$background-accent-teal-bolder: #6CC3E0 !default;
$background-accent-teal-bolder-hovered: #9DD9EE !default;
$background-accent-teal-bolder-pressed: #C6EDFB !default;
$background-accent-blue-subtlest: #1C2B41 !default;
$background-accent-blue-subtlest-hovered: #09326C !default;
$background-accent-blue-subtlest-pressed: #0055CC !default;
$background-accent-blue-subtler: #09326C !default;
$background-accent-blue-subtler-hovered: #0055CC !default;
$background-accent-blue-subtler-pressed: #0C66E4 !default;
$background-accent-blue-subtle: #0055CC !default;
$background-accent-blue-subtle-hovered: #09326C !default;
$background-accent-blue-subtle-pressed: #1C2B41 !default;
$background-accent-blue-bolder: #579DFF !default;
$background-accent-blue-bolder-hovered: #85B8FF !default;
$background-accent-blue-bolder-pressed: #CCE0FF !default;
$background-accent-purple-subtlest: #2B273F !default;
$background-accent-purple-subtlest-hovered: #352C63 !default;
$background-accent-purple-subtlest-pressed: #5E4DB2 !default;
$background-accent-purple-subtler: #352C63 !default;
$background-accent-purple-subtler-hovered: #5E4DB2 !default;
$background-accent-purple-subtler-pressed: #6E5DC6 !default;
$background-accent-purple-subtle: #5E4DB2 !default;
$background-accent-purple-subtle-hovered: #352C63 !default;
$background-accent-purple-subtle-pressed: #2B273F !default;
$background-accent-purple-bolder: #9F8FEF !default;
$background-accent-purple-bolder-hovered: #B8ACF6 !default;
$background-accent-purple-bolder-pressed: #DFD8FD !default;
$background-accent-magenta-subtlest: #3D2232 !default;
$background-accent-magenta-subtlest-hovered: #50253F !default;
$background-accent-magenta-subtlest-pressed: #943D73 !default;
$background-accent-magenta-subtler: #50253F !default;
$background-accent-magenta-subtler-hovered: #943D73 !default;
$background-accent-magenta-subtler-pressed: #AE4787 !default;
$background-accent-magenta-subtle: #943D73 !default;
$background-accent-magenta-subtle-hovered: #50253F !default;
$background-accent-magenta-subtle-pressed: #3D2232 !default;
$background-accent-magenta-bolder: #E774BB !default;
$background-accent-magenta-bolder-hovered: #F797D2 !default;
$background-accent-magenta-bolder-pressed: #FDD0EC !default;
$background-accent-gray-subtlest: #2C333A !default;
$background-accent-gray-subtlest-hovered: #38414A !default;
$background-accent-gray-subtlest-pressed: #454F59 !default;
$background-accent-gray-subtler: #454F59 !default;
$background-accent-gray-subtler-hovered: #596773 !default;
$background-accent-gray-subtler-pressed: #738496 !default;
$background-accent-gray-subtle: #596773 !default;
$background-accent-gray-subtle-hovered: #454F59 !default;
$background-accent-gray-subtle-pressed: #38414A !default;
$background-accent-gray-bolder: #8C9BAB !default;
$background-accent-gray-bolder-hovered: #9FADBC !default;
$background-accent-gray-bolder-pressed: #B6C2CF !default;
$background-disabled: #BCD6F00A !default;
$background-input: #22272B !default;
$background-input-hovered: #282E33 !default;
$background-input-pressed: #22272B !default;
$background-inverse-subtle: #FFFFFF29 !default;
$background-inverse-subtle-hovered: #FFFFFF3D !default;
$background-inverse-subtle-pressed: #FFFFFF52 !default;
$background-neutral: #A1BDD914 !default;
$background-neutral-hovered: #A6C5E229 !default;
$background-neutral-pressed: #BFDBF847 !default;
$background-neutral-subtle: #00000000 !default;
$background-neutral-subtle-hovered: #A1BDD914 !default;
$background-neutral-subtle-pressed: #A6C5E229 !default;
$background-neutral-bold: #9FADBC !default;
$background-neutral-bold-hovered: #B6C2CF !default;
$background-neutral-bold-pressed: #C7D1DB !default;
$background-selected: #1C2B41 !default;
$background-selected-hovered: #09326C !default;
$background-selected-pressed: #0055CC !default;
$background-selected-bold: #579DFF !default;
$background-selected-bold-hovered: #85B8FF !default;
$background-selected-bold-pressed: #CCE0FF !default;
$background-brand-subtlest: #1C2B41 !default;
$background-brand-subtlest-hovered: #09326C !default;
$background-brand-subtlest-pressed: #0055CC !default;
$background-brand-bold: #579DFF !default;
$background-brand-bold-hovered: #85B8FF !default;
$background-brand-bold-pressed: #CCE0FF !default;
$background-brand-boldest: #E9F2FF !default;
$background-brand-boldest-hovered: #CCE0FF !default;
$background-brand-boldest-pressed: #85B8FF !default;
$background-danger: #42221F !default;
$background-danger-hovered: #5D1F1A !default;
$background-danger-pressed: #AE2E24 !default;
$background-danger-bold: #F87168 !default;
$background-danger-bold-hovered: #FD9891 !default;
$background-danger-bold-pressed: #FFD5D2 !default;
$background-warning: #332E1B !default;
$background-warning-hovered: #533F04 !default;
$background-warning-pressed: #7F5F01 !default;
$background-warning-bold: #F5CD47 !default;
$background-warning-bold-hovered: #E2B203 !default;
$background-warning-bold-pressed: #CF9F02 !default;
$background-success: #1C3329 !default;
$background-success-hovered: #164B35 !default;
$background-success-pressed: #216E4E !default;
$background-success-bold: #4BCE97 !default;
$background-success-bold-hovered: #7EE2B8 !default;
$background-success-bold-pressed: #BAF3DB !default;
$background-discovery: #2B273F !default;
$background-discovery-hovered: #352C63 !default;
$background-discovery-pressed: #5E4DB2 !default;
$background-discovery-bold: #9F8FEF !default;
$background-discovery-bold-hovered: #B8ACF6 !default;
$background-discovery-bold-pressed: #DFD8FD !default;
$background-information: #1C2B41 !default;
$background-information-hovered: #09326C !default;
$background-information-pressed: #0055CC !default;
$background-information-bold: #579DFF !default;
$background-information-bold-hovered: #85B8FF !default;
$background-information-bold-pressed: #CCE0FF !default;

$surface-suken: #161A1D !default;